openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/search/:
    get:
      tags:
      - getSearch
      summary: Расписание рейсов между станциями
      operationId: getSearch
      parameters:
      - name: from
        in: query
        description: станция отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: станция прибытия
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      - name: apikey
        in: query
        description: API key
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: string
          format: date
      - name: transport_types
        in: query
        description: тип транспорта
        required: false
        schema:
          type: string
      - name: system
        in: query
        description: код to и from
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: код ответа
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: сдвиг относительно 1-го рейса
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: ограничение кол-ва рейсов
        required: false
        schema:
          type: integer
      - name: add_days_mask
        in: query
        description: запрос расписания рейсов
        required: false
        schema:
          type: boolean
      - name: result_timezone
        in: query
        description: часовой пояс
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        description: запрос маршрута с пересадками
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intervals'
  /v3.0/schedule/:
    get:
      tags:
      - getSchedule
      summary: Расписание рейсов по станции
      operationId: getSchedule
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: код станции
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: string
          format: date
      - name: transport_types
        in: query
        description: тип транспорта
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: прибытие или отправление
        required: false
        schema:
          type: string
      - name: system
        in: query
        description: код to и from
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: код ответа
        required: false
        schema:
          type: string
      - name: direction
        in: query
        description: направление
        required: false
        schema:
          type: string
      - name: result_timezone
        in: query
        description: часовой пояс
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleStation'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Intervals:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/Interval'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Interval:
      type: object
      properties:
        from:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
            popular_title:
              type: string
            short_title:
              type: string
            transport_type:
              type: string
            type:
              type: string
            station_type:
              type: string
            station_type_name:
              type: string
        thread:
          type: object
          properties:
            uid:
              type: string
            title:
              type: string
            interval:
              type: object
              properties:
                density:
                  type: string
                end_time:
                  type: string
                begin_time:
                  type: string
            number:
              type: string
            short_title:
              type: string
            thread_method_link:
              type: string
            carrier:
              type: object
              properties:
                code:
                  type: integer
                contacts:
                  type: string
                url:
                  type: string
                logo_svg:
                  type: string
                  nullable: true
                title:
                  type: string
                phone:
                  type: string
                codes:
                  type: object
                  properties:
                    icao:
                      type: string
                      nullable: true
                    sirena:
                      type: string
                    iata:
                      type: string
                address:
                  type: string
                logo:
                  type: string
                email:
                  type: string
            transport_type:
              type: string
            vehicle:
              type: string
            transport_subtype:
              type: object
              properties:
                color:
                  type: string
                code:
                  type: string
                title:
                  type: string
            exspress_type:
              type: string
              nullable: true
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
          nullable: true
        to:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
            popular_title:
              type: string
            short_title:
              type: string
            transport_type:
              type: string
            type:
              type: string
            station_type:
              type: string
            station_type_name:
              type: string
        has_transfers:
          type: boolean
        tickets_info:
          type: object
          properties:
            et_marker:
              type: boolean
            places:
              type: array
              items:
                $ref: '#/components/schemas/Place'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    Place:
      type: object
      properties:
        currency:
          type: string
        price:
          type: object
          properties:
            cents:
              type: integer
            whole:
              type: integer
        name:
          type: string
    Segment:
      type: object
      properties:
        arrival:
          type: string
        from:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
            popular_title:
              type: string
            short_title:
              type: string
            transport_type:
              type: string
            type:
              type: string
            station_type:
              type: string
            station_type_name:
              type: string
        thread:
          type: object
          properties:
            uid:
              type: string
            title:
              type: string
            number:
              type: string
            short_title:
              type: string
            thread_method_link:
              type: string
            carrier:
              type: object
              properties:
                code:
                  type: integer
                contacts:
                  type: string
                url:
                  type: string
                logo_svg:
                  type: string
                  nullable: true
                title:
                  type: string
                phone:
                  type: string
                codes:
                  type: object
                  properties:
                    icao:
                      type: string
                      nullable: true
                    sirena:
                      type: string
                    iata:
                      type: string
                address:
                  type: string
                logo:
                  type: string
                email:
                  type: string
            transport_type:
              type: string
            vehicle:
              type: string
            transport_subtype:
              type: object
              properties:
                color:
                  type: string
                code:
                  type: string
                title:
                  type: string
            exspress_type:
              type: string
              nullable: true
        departure_platform:
          type: string
        departure:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
          nullable: true
        to:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
            popular_title:
              type: string
            short_title:
              type: string
            transport_type:
              type: string
            type:
              type: string
            station_type:
              type: string
            station_type_name:
              type: string
        has_transfers:
          type: boolean
        tickets_info:
          type: object
          properties:
            et_marker:
              type: boolean
            places:
              type: array
              items:
                $ref: '#/components/schemas/Place'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    Search:
      type: object
      properties:
        date:
          type: string
        to:
          type: object
          properties:
            code:
              type: string
            type:
              type: string
            popular_title:
              type: string
            short_title:
              type: string
            title:
              type: string
        from:
          type: object
          properties:
            code:
              type: string
            type:
              type: string
            popular_title:
              type: string
            short_title:
              type: string
            title:
              type: string
    ScheduleStation:
      type: object
      properties:
        date:
          type: string
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/StationSchedule'
        interval_schedule:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSchedule'
        schedule_direction:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
        directions:
          type: array
          items:
            $ref: '#/components/schemas/Direction'
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    StationSchedule:
      type: object
      properties:
        exept_days:
          type: string
        arrival:
          type: string
        thread:
          type: object
          properties:
            uid:
              type: string
            title:
              type: string
            number:
              type: string
            short_title:
              type: string
            carrier:
              type: object
              properties:
                code:
                  type: integer
                codes:
                  type: object
                  properties:
                    icao:
                      type: string
                      nullable: true
                    sirena:
                      type: string
                      nullable: true
                    iata:
                      type: string
                      nullable: true
                title:
                  type: string
            transport_type:
              type: string
            vehicle:
              type: string
              nullable: true
            transport_subtype:
              type: object
              properties:
                color:
                  type: string
                code:
                  type: string
                title:
                  type: string
            express_type:
              type: string
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
        terminal:
          type: boolean
        platform:
          type: string
    IntervalSchedule:
      type: object
      properties:
        except_days:
          type: boolean
        thread:
          type: object
          properties:
            uid:
              type: string
            title:
              type: string
            interval:
              type: object
              properties:
                destiny:
                  type: string
                end_time:
                  type: string
                begin_time:
                  type: string
            number:
              type: string
            short_title:
              type: string
            carrier:
              type: string
              nullable: true
            transport_type:
              type: string
            vehicle:
              type: string
              nullable: true
            transport_subtype:
              type: object
              properties:
                color:
                  type: string
                code:
                  type: string
                title:
                  type: string
            express_type:
              type: string
              nullable: true
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        terminal:
          type: string
          nullable: true
        platform:
          type: string
    Direction:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    
